@import "tailwindcss";

/* Agrega tu clase personalizada aquí abajo */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Para IE, Edge (versiones antiguas) y Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}
.input {
  @apply w-full border rounded-lg px-3 py-2 text-sm focus:ring-2 focus:ring-yellow-400 outline-none;
}

.card {
  @apply bg-white p-5 rounded-xl border shadow-sm;
}


